@model IEnumerable<MyProfile.Models.User>

@{ 
    int i = 1;
}

@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />

}

<h1>Users</h1>
<hr />
<p>
    <a asp-action="create" class="btn btn-dark">Create new user</a>
</p>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>#</th>
            <th>
                
            </th>
            <th>
            
            </th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@i</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>
                    <a asp-action="details" asp-route-id="@user.Id" class="btn btn-light">Details</a>
                    <a asp-action="edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            i++;
        }

    </tbody>
</table>


@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}
