@model MyProfile.Models.UserIndexModel
@{
    int i = 1;
}
<h1>Users</h1>
<hr />
<p>
    <a asp-action="create" class="btn btn-dark">Create new user</a>
</p>

<form asp-action="Index" method="get" class="form-inline">
    <input name="term" value="@Model.Term" placeholder="search" class="form-control" />
    <select asp-for="GenderType" asp-items="Html.GetEnumSelectList<MyProfile.Models.GenderType>()" class="form-control"></select>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>#</th>
            <th>
                <a asp-action="Index" asp-route-sortType="@Model.SortType" asp-route-orderType="1" asp-route-term="@Model.Term" class="btn btn-link">Name</a>
            </th>
            <th><a asp-action="Index" asp-route-sortType="@Model.SortType" asp-route-orderType="2" asp-route-term="@Model.Term" class="btn btn-link">Age</a></th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@i</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>
                    <a asp-action="details" asp-route-id="@user.Id" class="btn btn-light">Details</a>
                    <a asp-action="edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            i++;
        }

    </tbody>
</table>



