@model IEnumerable<MyProfile.Models.User>
@{
    int i = 1;
}
<h1>Users</h1>
<hr />
<a asp-action="create" class="btn btn-dark">Create new user</a>
<table class="table table-borderless">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@i</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>
                    <a asp-action="details" asp-route-id="@user.Id" class="btn btn-light">Details</a>
                    <a asp-action="edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            i++;
        }

    </tbody>
</table>



